@import "../../features/assets/variables";

.container_home {
  @include main;

  .home_first_section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
      flex: 1;
      @media screen and (max-width: 1100px) {
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
      }
      @media screen and (max-width: 700px) {
        max-width: 100%;
        gap: 32px;
      }
    }
    @media screen and (max-width: 1100px) {
      max-width: 90%;
      margin: 0 auto;
      flex-direction: column;
    }
    @media screen and (max-width: 700px) {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 1100px) {
    form {
      max-width: 90%;
      width: 100%;
      margin: 0 auto;
    }
  }
}
